html {
  height: 100%;
}

body {
  height: 100%;
  background: #f5f5f5;
  margin: 0;
  position: relative;
}

.main {
  height: 100%;
  //position: relative;
  .wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #fff;
      border-radius: 2px;
      border: 1px solid #d6dadc;
      box-shadow: 0 1px 6px rgba(0, 0, 0, .15);
      z-index: 25;
      &::after {
        content: '';
        position: absolute;
        margin-left: -5px;
        margin-top: -5px;
        width: 10px;
        height: 10px;

        background-color: #fff;
        border-top: 1px solid #d6dadc;
        border-left: 1px solid #d6dadc;

        transform: rotate(45deg);
        border-radius: 3px;
      }
      a {
        display: inline-block;
        margin: 5px;
        color: #fff;
        padding: 7px 14px;
        border-radius: 2px;
        text-decoration: none;
        font-size: 14px;
      }
    }
    .show-dropdown {
      display: block;
    }
    .header {
      .active-buttons {
        margin-bottom: 0;
        margin-right: 12px;
        padding: 5px 12px;
        font-size: 12px;
        letter-spacing: .025em;
        border-radius: 2px;
        background-color: #4ea1d3;
        color: #fff;
        cursor: pointer;
      }
      .grid-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding: 0 30px;
        height: 51px;
        align-items: center;
        background: rgba(202, 221, 236, 1);
        .board {
          display: flex;
          grid-column: 1;
          align-items: center;
          .logo {
            display: flex;
            margin-right: 30px;
            justify-content: center;
            cursor: pointer;
            img {
              height: 23px;
            }
            i {
              margin-left: 8px;
              border: solid #4d5763;
              border-width: 0 1px 1px 0;
              display: inline-block;
              padding: 3px;
            }
            .down {
              transform: rotate(45deg);
              -webkit-transform: rotate(45deg);
            }
            .dropdown-content {
              display: none;
              position: absolute;
              top: 6px;
              left: 15px;
              min-width: 220px;
              background-color: #fff;
              border-radius: 2px;
              box-shadow: 0 0 0 1px rgba(49, 49, 93, 0.03), 0 2px 5px 0 rgba(49, 49, 93, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.08);
              z-index: 10;
              a {
                display: block;
                padding: 8px 15px;
                color: #8898aa;
                text-decoration: none;
                font-size: 14px;
                border-bottom: 1px solid #eee;
                &:hover {
                  color: #fff;
                  background: #7f89f5;
                }
              }
            }
            .logo-menu-active {
              display: block;
            }
            .arrow-wrapper {
              margin-top: -2px;
            }
          }
          #boards-dropdown {
            position: static;
            .board-text {
            }
          }
        }
        .search {
          display: flex;
          grid-column: 2;
          .search-icon {
            margin-left: 5px;
            position: absolute;
            line-height: 27px;
            color: #8898aa;
          }
          input {
            width: 300px;
            padding: 5px 7px 5px 25px;
            outline: none;
            font-size: 12px;
            border: none;
            font-family: "Roboto";
            font-weight: 400;
            color: #8898aa;
            border-radius: 2px;
            box-shadow: 0 0 0 1px rgba(49, 49, 93, .03), 0 2px 5px 0 rgba(49, 49, 93, .1), 0 1px 2px 0 rgba(0, 0, 0, .08);
            &::placeholder {
              color: #8898aa;
              opacity: 1;
            }
          }

        }
        .user-bar {
          display: flex;
          grid-column: 3;
          justify-content: flex-end;
          align-items: center;
          .request-feature {
            margin: 0 20px 0px;
            padding: 3px 16px;
            border-radius: 2px;
            background: #fbfafa;
            color: #8898aa;
            cursor: pointer;
            box-shadow: 0 0 0 1px rgba(49, 49, 93, .03), 0 2px 5px 0 rgba(49, 49, 93, .1), 0 1px 2px 0 rgba(0, 0, 0, .08);
            i {
              margin-right: 13px;
            }
          }
          .feedback-wrapper {
            margin-top: 8px;
            display: none;
            position: absolute;
            z-index: 10;
            background: #fff;
            padding: 2px 3px;
            border-radius: 2px;
            box-shadow: 0 0 0 1px rgba(49, 49, 93, .03), 0 2px 5px 0 rgba(49, 49, 93, .1), 0 1px 2px 0 rgba(0, 0, 0, .08);
            .textarea-feedback {
              margin-bottom: 12px;
              height: 103px;
              color: #8898aa;
              width: 100%;
              padding: 5px;
              box-sizing: border-box;
              overflow: hidden;
              resize: none;
              outline: 0px;
              border: none;
            }
            .feedback-buttons {
              display: flex;
              justify-content: space-between;
              margin: 5px 5px 10px 5px;
              a {
                padding: 4px 12px;
                text-decoration: none;
                border: 1px solid #eee;
                cursor: pointer;
                border-radius: 2px;
              }
              .cancel {
                a {
                  color: #8898aa;
                }
              }
              .send {
                a {
                  color: #fff;
                  border: none;
                  background-color: #4ea1d3;
                }
              }
            }
          }
          .request-feature-active {
            display: block;
          }
          #user-dropdown {
            cursor: pointer;
            .dropdown-content {
              display: none;
              position: absolute;
              background-color: #fff;
              top: 36px;
              right: -23px;
              min-width: 200px;
              border-radius: 2px;
              border: 1px solid #d6dadc;
              box-shadow: 0 1px 6px rgba(0, 0, 0, .15);
              z-index: 10;
              &::after {
                content: '';
                position: absolute;
                top: 0%;
                left: 80%;
                margin-top: -5px;
                width: 10px;
                height: 10px;

                background-color: #fff;
                border-left: 1px solid #d6dadc;
                border-top: 1px solid #d6dadc;
                transform: rotate(45deg);
                border-radius: 3px;
              }
              a {
                display: block;
                padding: 9px 14px;
                font-size: 13px;
                color: #8898aa;
                text-decoration: none;
                border-bottom: 1px solid #eee;
              }
              .main-info {
                border-bottom: 1px solid #eee;
                padding: 11px 14px;
                .user-name {
                  margin: 0;
                  padding-bottom: 3px;
                  font-family: "Roboto";
                  font-weight: bold;
                  color: #494343;
                }
                .administrator {
                  margin: 0;
                  display: block;
                  font-size: 11px;
                  font-family: "Roboto";
                  color: #8898aa;
                }
              }
            }
            a {
              display: block;
              padding: 8px 14px;
              color: #8898aa;
              text-decoration: none;
              font-size: 14px;
              &:hover {
                color: #4ea1d3;
              }
            }
            .show-dropdown {
              display: block;
            }
            img {
              height: 23px;
            }
            .user-icon {
              font-size: 23px
            }
          }
        }
      }
    }
    .content {
      background-image: url("../images/food.png");
      background-size: 300px;
      position: relative;
      flex-grow: 1;
      overflow-y: auto;
      .boards-wrapper {
        .boards-main-content {
          display: flex;
          .main-title-wrapper {
            display: flex;
            margin-top: 20px;
            margin-left: 30px;
            align-items: center;
            p {
              margin: 0;
            }
            .title {
              font-family: "Roboto";
              font-weight: 600;
              text-transform: uppercase;
              font-size: 18px;
            }
            .text-private {
              margin-left: 25px;
              margin-right: 25px;
              padding: 4px 0px 4px 20px;
              border-left: 1px solid #000;
            }
            .team-dropdown {
              position: relative;
              border-radius: 3px;
              cursor: pointer;
              &:hover {
                background: rgba(0, 0, 0, .1);
              }
              .borders {
                padding: 4px 20px;
                border-left: 1px solid #000;
                border-right: 1px solid #000;
              }
              .fa-lock {
                margin-right: 5px;
              }
              .dropdown-content {
                display: none;
                position: absolute;
                background-color: #fff;
                left: 0px;
                top: 35px;
                min-width: 140px;
                border-radius: 2px;
                border: 1px solid #d6dadc;
                box-shadow: 0 1px 6px rgba(0, 0, 0, 0.15);
                z-index: 10;
                a {
                  margin: 0;
                  display: block;
                  color: #8898aa;
                  padding: 9px 14px;
                  text-decoration: none;
                  font-size: 13px;
                  border-bottom: 1px solid #eee;
                  i {
                    margin-right: 6px;
                  }
                }
                &::after {
                  content: none;
                }
              }
              .show-dropdown {
                display: block;
              }
            }
            .user-image{
              margin-left: 25px;
              img {
                height: 27px;
              }
            }
          }
          .boards {
            position: absolute;
            top: 60px;
            right: 0;
            bottom: 0;
            left: 30px;
            margin-bottom: 10px;

            user-select: none;
            white-space: nowrap;
            overflow-x: auto;
            overflow-y: hidden;
            .list-wrapper {
              position: relative;
              width: 270px;
              display: inline-block;
              margin: 0 30px 0px 0;
              padding: 10px 0;

              height: 100%;
              box-sizing: border-box;
              vertical-align: top;
              white-space: normal;
              .list-content {
                position: relative;
                display: flex;
                flex-direction: column;
                padding-bottom: 15px;
                max-height: 100%;

                background: #efecec;
                border-radius: 2px;
                box-sizing: border-box;
                white-space: normal;
                .badges {
                  display: inline-block;
                  padding: 3px 10px;
                  background-color: #b1ab42;
                  color: #fff;
                  border-radius: 2px;
                  font-size: 10px;
                  font-weight: bold;
                  line-height: 10px;
                  text-transform: uppercase;
                }
                .list-header {
                  flex: 0 0 auto;
                  padding: 8px 10px;
                  .program-status {
                    display: inline-block;
                    padding: 3px 10px;

                    background-color: #b1ab42;
                    color: #fff;
                    border-radius: 2px;

                    font-size: 10px;
                    font-weight: bold;
                    line-height: 10px;
                    text-transform: uppercase;
                  }
                  .active {
                    background-color: #309030;
                  }
                  .live {
                    background-color: red;
                  }
                  .list-hader-name {
                    margin: 8px 0 7px;
                    font-size: 16px;
                    font-family: "Roboto";
                    font-weight: 700;
                  }
                }
                .list-cards {
                  margin: 0 8px;
                  overflow-y: auto;
                  overflow-x: hidden;
                  z-index: 1;
                  .list-card {
                    position: relative;
                    display: block;
                    min-height: 20px;
                    margin-bottom: 6px;
                    background-color: #fff;
                    border-bottom: 1px solid #ccc;
                    border-radius: 2px;
                    cursor: pointer;
                    text-decoration: none;
                    .list-card-cover {
                      padding: 13px 10px;
                      display: flex;
                      justify-content: space-between;
                      p {
                        margin: 0;
                        color: #000;
                      }
                      .reward-title {
                        margin-bottom: 5px;
                        font-family: "Gotham_SSm_5r", Helvetica, Arial, sans-serif;
                        font-size: 16px;
                        font-weight: 700;
                      }
                      .rewards-number {
                        margin-bottom: 5px;
                        color: #8898aa;
                        font-family: "Roboto";
                        font-size: 14px;
                        font-weight: 700;
                      }
                      .fa {
                        color: #8898aa;
                        margin-left: 8px;
                      }
                      .active-badge {
                        background-color: #eb5a46;
                      }
                      .draft-badge {
                        background: #5c5c80;
                      }
                      .list-card-operation {
                        visibility: hidden;
                        height: 100%;
                        .fa-pencil {
                          color: #4ea1d3;
                        }
                      }
                    }
                    .list-card-cover:hover > .list-card-operation {
                      visibility: visible;
                    }
                  }
                  .add-card {
                    p {
                      color: #8898aa;
                      font-family: "Roboto";
                      font-size: 14px;
                      margin: 0;
                      cursor: pointer;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .quick-card-editor {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    z-index: 10;
    display: none;
    background: rgba(0, 0, 0, .6);
    .quick-card-editor-close-icon {
      position: absolute;
      padding: 9px;
      right: 6px;
      top: 7px;
      cursor: pointer;
      color: hsla(0, 0%, 100%, .6);
      font-size: 22px;
    }
    .quick-card-editor-card {
      position: absolute;
      .textarea-wrapper {
        width: 238px;
      }
    }
    .list-card-edit-title {
      margin-bottom: 12px;
      height: 103px;
      width: 100%;
      padding: 5px;

      color: #8898aa;
      box-sizing: border-box;
      overflow: hidden;
      resize: none;
      outline: 0px;
      border: none;
      border-radius: 2px;
    }
    input {
      display: inline-block;
      margin: 8px 4px 0 0;
      padding: 6px 24px;

      border: none;
      outline: none;
      cursor: pointer;

      font-weight: 600;
      background: #5aac44;
      color: #fff;
      border-radius: 2px;
    }
    .quick-card-editor-buttons {
      position: absolute;
      top: 0;
      margin-left: 15px;
      left: 100%;
      width: 240px;
      &--item {
        display: block;
        float: left;
        margin: 0 0 4px 8px;
        padding: 6px 12px 6px 8px;
        background: rgba(0, 0, 0, .6);
        border-radius: 2px;
        clear: both;
        color: #e6e6e6;
        text-decoration: none;
        transition: transform 85ms ease-in, -webkit-transform 85ms ease-in;
        &:hover {
          transform: translateX(5px);
        }
        .icons {
          font-size: 12px;
          margin-right: 3px;
        }
        .quick-card-editor-buttons-item-text {
          font-size: 15px;
        }
      }
    }
  }

  .active-editor {
    display: block;
  }
  #window-overlay {
    display: none;
    position: fixed;
    height: 100%;
    align-items: flex-start;
    width: 100%;
    justify-content: center;
    overflow-y: auto;
    z-index: 20;
    &::before {
      content:'';
      background-color: rgba(0, 0, 0, .6);
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      position: fixed;
    }
    .window {
      position: relative;
      width: 768px;
      margin: 48px 0 80px;
      background-color: #fff;
      border-radius: 2px;
      overflow: hidden;
      .window-wrapper {
        padding: 30px 25px;
        .close-modal-window {
          position: absolute;
          top: 15px;
          right: 15px;
          cursor: pointer;
        }
        .modal-window-header {
          .rewards-description {
            margin-left: 33px;
            font-size: 13px;
            color: #828488;
            .reward-columns {
              text-decoration: underline;
              color: #4e4e4e
            }
          }
        }
        .modal-main-section {
          display: flex;
          margin-top: 25px;
          .description-text {
            margin-left: 33px;
            font-size: 13px;
            color: #8898aa;
          }
        }
        .title {
          margin: 0 0 6px;
          font-size: 16px;
          line-height: 1.25em;
        }
        .actions {
          margin-top: 20px;
        }
        .comment-section {
          .comments-wrapper {
            display: flex;
            align-content: center;
            .textarea-wrapper {
              width: 100%;
            }
          }
          .user-profile-image {
            margin-right: 10px;
            img {
              height: 27px;
            }
          }
          .comments-textarea {
            margin-bottom: 12px;
            width: 100%;
            padding: 10px;
            box-sizing: border-box;
            font-size: 13px;
            height: 103px;
            overflow: hidden;
            resize: none;
            outline: 0px;
            border: none;
            border-radius: 2px;
          }
          .comment-save-button {
            display: inline-block;
            padding: 6px 24px;

            border: none;
            outline: none;
            cursor: pointer;
            font-weight: 600;
            background: #5aac44;
            color: #fff;
            border-radius: 2px;
          }
        }
        .attachment {
          .image-upload {
            margin-left: 33px;
          }
        }
        .button-section {
          margin-left: 25px;
          .button-wrapper {
            min-width: 160px;
          }
          .button-link {
            display: block;
            position: relative;
            padding: 6px 8px 6px 11px;
            margin-top: 8px;

            background: #e2e4e6;
            box-shadow: 0 1px 0 0 #c4c9cc;
            box-sizing: border-box;
            cursor: pointer;
            color: #444;
            overflow: hidden;
            text-decoration: none;
            white-space: nowrap;
            border-radius: 2px;
            font-weight: 600;
            .icons {
              margin-right: 5px;
            }
          }
        }
      }
      .title-icons {
        margin-right: 13px;
        margin-left: 7px;
        float: left;
        color: #828488
      }
    }
  }
  #profile-overlay {
    display: none;
    position: fixed;
    height: 100%;
    align-items: flex-start;
    width: 100%;
    justify-content: center;
    overflow-y: auto;
    z-index: 20;
    &::before {
      content: '';
      background-color: rgba(0, 0, 0, .6);
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      position: fixed;
    }
    .profile-window {
      position: relative;
      width: 768px;
      margin: 48px 0 80px;
      background-color: #fff;
      border-radius: 2px;
      overflow: hidden;
      .profile-window-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #eee;
        padding: 20px 25px 10px 25px;
        .title-wrapper {
          .title {
            margin: 0;
            font-size: 16px;
            line-height: 1.25em;
          }
        }
        .sign-out {
          margin-right: 20px;
          a {
            display: inline-block;
            text-align: center;
            cursor: pointer;
            border-radius: 2px;
            text-decoration: none;
            color: #fff;
            position: relative;
            bottom: 0px;
            font-size: 12px;
            letter-spacing: .025em;
            outline: 0;
            background-color: #7f89f5;
            padding: 5px 12px;
          }
        }
      }
      .password-section {
        padding: 20px 25px;
        #login-form {
          margin-bottom: 20px;
        }
        .input-error {
          position: relative;
          width: 300px;
          margin: 0 auto 10px auto;
          top: -8px;
          font-size: .8em;
          font-family: "Roboto";
          padding: .8em 1em;
          color: #fff;
          letter-spacing: 0.5px;
        }
        .button-wrapper {
          margin-left: 20%;
          button {
            display: inline-block;
            padding: 4px 20px;

            border: none;
            outline: none;
            cursor: pointer;
            font-weight: 600;
            color: #fff;
            border-radius: 2px;
          }
          .cancel-button {
            background: #eee;
            margin-right: 10px;
            color: #000;
          }
          .save-button {
            background: #5aac44;
          }
        }
        .form-group {
          display: flex;
          align-items: center;
          .form-control {
            border: 2px solid rgba(136,152,170, 0.4);
            border-radius: 2px;
            margin-bottom: 7px;
            box-shadow: none;
            font-family: "Roboto";
            width: 30%;
            padding: 5px 7px;
            height: 30px;
            &:focus {
              border-color: #4ea1d3;
              opacity: 1;
            }
          }
          .form-control::-webkit-input-placeholder  {
            color: #8898aa;
            font-family: "Roboto";
            font-size: 12px;
            font-weight: 300;
          }
          .required-input {
            margin-top: -6px;
            margin-bottom: 0px;

            font-size: 10px;
            font-family: "Roboto";
          }
          .labels {
            width: 20%;
          }
        }
        #password-form {
          .change-password {
            font-size: 13px;
            line-height: 20px;
            height: 23px;
            padding: 0 10px;
            border-radius: 2px;
          }
        }
        #mobile-change {
          .change-password {
            margin-left: 15px;
            font-size: 13px;
            line-height: 20px;
            height: 23px;
            padding: 0 10px;
            border-radius: 2px;
          }
        }
      }
      .authentication-section {
        padding: 15px 0;
        border-bottom: 2px solid #e6ebf1;
        .header {
          display: flex;
          align-items: center;
          justify-content: space-between;
          border-bottom: 1px solid #eee;
          padding: 20px 25px 10px 25px;
          .authentication-content {
            display: none;
            position: absolute;
            top: 35px;
            right: 0px;
            width: 200px;
            padding: 3px;
            background-color: #fff;
            border-radius: 2px;
            border: 1px solid #d6dadc;
            box-shadow: 0 1px 6px rgba(0, 0, 0, 0.15);
            z-index: 25;
            a {
              display: inline-block;
              margin-left: 5px;
              color: #4ea1d3;
              padding: 3px 0px;
              border-radius: 2px;
              text-decoration: none;
              font-size: 14px;
            }
          }
          .show-menu {
            display: block;
          }
          .title {
            margin: 0;
            font-size: 16px;
            line-height: 1.25em;
          }
          .description {
            margin: 0;
            font-size: 13px;
          }
          .add-button {
            margin: 0;
            border-radius: 2px;
            padding: 3px 8px;
            color: #525f7f;
            background: transparent;
            border: 1px solid #eee;
            cursor: pointer;
            outline: none;
          }
        }
        .auth-content {
          padding: 20px 25px;
        }
        .locale-content {
          display: flex;
          justify-content: flex-end;
          padding: 10px 25px;
          a {
            display: inline-block;
            text-align: center;
            cursor: pointer;
            border-radius: 2px;
            text-decoration: none;
            color: #fff;
            position: relative;
            bottom: 0px;
            font-size: 12px;
            letter-spacing: .025em;
            outline: 0;
            background-color: #7f89f5;
            padding: 5px 12px;
          }
        }
        .notification-content {
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 15px 25px;
          background-color: #f6f9fc;
          border-bottom: 1px solid #eee;
          p {
            margin: 0;
          }
          .notification-title {
            font-weight: 500;
          }
        }
      }
    }
    .close-modal-window {
      position: absolute;
      top: 2px;
      right: 15px;
      cursor: pointer;
    }
  }
}

.grid-container {
  .board {
    #boards-dropdown {
      position: static;
      .dropdown-content {
        left: 0px;
        top: 51px;
        width: 100vw;
        &::after {
          top: 0%;
          left: 44%;
        }
        a {
          background: rgba(0, 0, 0, 0.5);
          &:hover {
            background: rgba(0, 0, 0, 0.8);
          }
        }
      }
    }
  }
  .user-bar {
    #create-dropdown {
      .dropdown-content {
        right: -23px;
        top: 36px;
        min-width: 140px;
        &::after {
          top: 0%;
          left: 50%;
        }
        a {
          margin: 0;
          color: #8898aa;
          padding: 11px 14px;
          text-decoration: none;
          display: block;
          font-size: 14px;
          border-bottom: 1px solid #eee;
          &:nth-last-child {
            border-bottom: none;
          }
          &:hover {
            color: #4ea1d3;
          }
        }
      }
    }
    #account-dropdown {
      .dropdown-content {
        right: -11px;
        top: 36px;
        min-width: 140px;
        &::after {
          top: 0%;
          left: 50%;
        }
        a {
          margin: 0;
          color: #8898aa;
          padding: 11px 14px;
          text-decoration: none;
          display: block;
          font-size: 14px;
          border-bottom: 1px solid #eee;
          &:nth-last-child {
            border-bottom: none;
          }
          &:hover {
            color: #4ea1d3;
          }
        }
      }
    }
  }
}
