html {
  height: 100%; }

body {
  min-height: 100%;
  background: #f5f5f5;
  margin: 0; }

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  height: 51px;
  background: #caddec; }
  .grid-container .board {
    display: flex;
    grid-column: 1;
    margin-left: 30px;
    align-items: center; }
    .grid-container .board .board-text {
      background-color: #4ea1d3;
      padding: 7px 16px;
      text-transform: uppercase;
      color: #fff;
      text-align: center;
      cursor: pointer;
      border-radius: 2px;
      text-decoration: none;
      position: relative;
      font-size: 12px;
      letter-spacing: .025em;
      outline: 0;
      text-decoration: none;
      font-family: "Roboto";
      font-weight: 400; }
    .grid-container .board .search {
      margin-left: 20px; }
      .grid-container .board .search input {
        outline: none;
        font-size: 12px;
        padding: 7px 7px;
        border: none;
        font-family: "Roboto";
        font-weight: 400;
        width: 175px;
        border-radius: 2px; }
  .grid-container .logo {
    display: flex;
    justify-content: center;
    grid-column: 2;
    text-align: center; }
    .grid-container .logo img {
      height: 27px; }
  .grid-container .user-bar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    grid-column: 3;
    margin-right: 30px; }
    .grid-container .user-bar .plus-button {
      margin-right: 12px;
      background-color: #4ea1d3;
      padding: 7px 16px;
      text-transform: uppercase;
      color: #fff;
      text-align: center;
      cursor: pointer;
      border-radius: 2px;
      text-decoration: none;
      position: relative;
      font-size: 12px;
      letter-spacing: .025em;
      outline: 0;
      text-decoration: none;
      font-family: "Roboto";
      font-weight: 400; }
    .grid-container .user-bar #create-dropdown .dropdown-content {
      display: none;
      position: absolute;
      background-color: #fff;
      right: 152px;
      min-width: 140px;
      border-radius: 2px;
      border: 1px solid #d6dadc;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      box-shadow: 0 1px 6px rgba(0, 0, 0, 0.15);
      z-index: 1; }
      .grid-container .user-bar #create-dropdown .dropdown-content::after {
        content: '';
        position: absolute;
        top: 0%;
        left: 50%;
        margin-left: -5px;
        margin-top: -5px;
        width: 10px;
        height: 10px;
        background-color: #fff;
        border-top: 1px solid #d6dadc;
        border-top: 1px solid #d6dadc;
        transform: rotate(45deg);
        border-radius: 3px; }
      .grid-container .user-bar #create-dropdown .dropdown-content a {
        color: #8898aa;
        padding: 11px 14px;
        text-decoration: none;
        display: block;
        font-size: 14px;
        border-bottom: 1px solid #eee; }
        .grid-container .user-bar #create-dropdown .dropdown-content a:hover {
          color: #4ea1d3; }
    .grid-container .user-bar #create-dropdown .show-dropdown {
      display: block; }
    .grid-container .user-bar #user-dropdown {
      display: flex;
      cursor: pointer; }
      .grid-container .user-bar #user-dropdown .dropdown-content {
        display: none;
        position: absolute;
        background-color: #fff;
        top: 52px;
        right: 5px;
        min-width: 200px;
        border-radius: 2px;
        border: 1px solid #d6dadc;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        box-shadow: 0 1px 6px rgba(0, 0, 0, 0.15);
        z-index: 1; }
        .grid-container .user-bar #user-dropdown .dropdown-content a {
          color: #8898aa;
          padding: 11px 14px;
          text-decoration: none;
          display: block;
          font-size: 14px;
          border-bottom: 1px solid #eee; }
        .grid-container .user-bar #user-dropdown .dropdown-content .main-info {
          border-bottom: 1px solid #eee;
          padding: 11px 14px; }
          .grid-container .user-bar #user-dropdown .dropdown-content .main-info .user-name {
            margin: 0;
            text-decoration: none;
            display: block;
            font-family: "Roboto";
            font-weight: bold;
            color: #494343;
            font-size: 14px;
            padding-bottom: 3px; }
          .grid-container .user-bar #user-dropdown .dropdown-content .main-info .administrator {
            font-family: "Roboto";
            font-weight: 400;
            color: #8898aa;
            text-decoration: none;
            display: block;
            font-size: 11px;
            margin: 0; }
        .grid-container .user-bar #user-dropdown .dropdown-content::after {
          content: '';
          position: absolute;
          top: 0%;
          left: 81%;
          margin-left: -5px;
          margin-top: -5px;
          width: 10px;
          height: 10px;
          background-color: #fff;
          border-top: 1px solid #d6dadc;
          border-top: 1px solid #d6dadc;
          transform: rotate(45deg);
          border-radius: 3px; }
      .grid-container .user-bar #user-dropdown a {
        color: #8898aa;
        padding: 8px 14px;
        text-decoration: none;
        display: block;
        font-size: 14px; }
        .grid-container .user-bar #user-dropdown a:hover {
          color: #4ea1d3; }
      .grid-container .user-bar #user-dropdown .show-dropdown {
        display: block; }
      .grid-container .user-bar #user-dropdown img {
        height: 27px; }
    .grid-container .user-bar #account-dropdown .dropdown-content {
      display: none;
      position: absolute;
      background-color: #fff;
      right: 50px;
      min-width: 140px;
      border-radius: 2px;
      border: 1px solid #d6dadc;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      box-shadow: 0 1px 6px rgba(0, 0, 0, 0.15);
      z-index: 1; }
      .grid-container .user-bar #account-dropdown .dropdown-content::after {
        content: '';
        position: absolute;
        top: 0%;
        left: 50%;
        margin-left: -5px;
        margin-top: -5px;
        width: 10px;
        height: 10px;
        background-color: #fff;
        border-top: 1px solid #d6dadc;
        border-top: 1px solid #d6dadc;
        transform: rotate(45deg);
        border-radius: 3px; }
      .grid-container .user-bar #account-dropdown .dropdown-content a {
        color: #8898aa;
        padding: 11px 14px;
        text-decoration: none;
        display: block;
        font-size: 14px;
        border-bottom: 1px solid #eee; }
        .grid-container .user-bar #account-dropdown .dropdown-content a:hover {
          color: #4ea1d3; }
    .grid-container .user-bar #account-dropdown .show-dropdown {
      display: block; }

/*# sourceMappingURL=style.css.map */
